<div class="backdrop" [ngStyle]="{ 'display' : display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ 'display' : display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseClick()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Set values</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" *ngIf="showForm">
          <div class="form-group" *ngFor="let element of elements;">
            <label [for]="element.id" [ngStyle]="{ 'font-weight' : element.fontWeight }">{{ element.label }}</label>
            <!-- type="text" -->
            <input [type]="element.type" [id]="element.id" class="form-control" [formControlName]="element.id">
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
        </form>
        <div *ngIf="!showForm">
          getDate div
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseClick()">Close</button>        
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->