<div class="row">
  <div class="col-md-4">
    <mgr-send-data-list  (itemClickedList)="clickedItem = $event"></mgr-send-data-list>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-7">
    <!--<mgr-send-data-detail></mgr-send-data-detail>-->
    <mgr-send-data-detail  *ngIf="clickedItem; else showText" [item]="clickedItem"></mgr-send-data-detail>
    <ng-template #showText>
      <div class="row">
        <div class="alert alert-info">
          <strong>Please select an Item!</strong>
        </div>
      </div>
    </ng-template>
  </div>
</div>