<!-- &#91; [ -->
<!-- &#93; [ -->
<!-- &#123; { -->
<!-- &#125; } -->
<div class="row">
  <div class="container" style="width: 100%">
    <p>
      &#91;</p>
    <mgr-set-data-data-frame-part *ngFor="let dataFramePart of dataFrameParts" [dataFramePart]="dataFramePart"></mgr-set-data-data-frame-part>
    <p>&#93;</p>
    <button class="btn btn-success" (click)="newDataPartClick()">New part</button>
    <mgr-set-data-data-frame-form></mgr-set-data-data-frame-form>
    <mgr-set-data-data-frame-part-form></mgr-set-data-data-frame-part-form>
  </div>
</div>